* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, hsl(254, 58%, 28%), #87982a);
}

.profile-picture {
    width: 120px;
    border-radius: 45%;
    margin-top: 20px;
    object-fit: cover;
}

.profile-card{
    max-width: 350px;
    width: 100%;
    border: 2px solid black;
    padding: 0px;
    text-align: center;
    border-radius: 39px;
    background-color: rgb(52, 214, 182);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.profile-card1 {
    background-color: rgb(120, 203, 223);
    height: 45vh;
    padding: 7px;
    border-radius: 0px 0px 39px 39px;
    backdrop-filter: blur(10px);
}

.profile-card1 p, .profile-card1 h2, .profile-card1 h3 {
    margin: 3px 0;
}

.social-link a{
    margin: 5px;
    text-decoration: none;
    color: rgb(29, 37, 191);
}

.social-link a:hover{
    color: #c70b82
}

.social-link a:visited {
    color: #7923f9;
  }

.social-link a:active{
    color:rgb(9, 108, 88)
}

.utc-time{
    font-weight: 700;
    
}

@media (max-width: 480px) {
    .profile-card {
        max-width: 90%;
        padding: 10px;
    }
    .profile-card1 {
        height: auto;
        padding: 10px;
    }
    .profile-picture {
        width: 100px;
    }
    .profile-card1 h2, .profile-card1 h3 {
        font-size: 1.2em;
    }
    .profile-card1 p {
        font-size: 0.9em;
    }
}
